<div class="col-sm-6 col-md-4 mb-4">
  <a class="gallery_img mb-0">
    <img src="/images/gallery<%= Math.floor(Math.random() * 6) + 1 %>.jpg" alt="Bridge">
  </a>

  <div class="mt-1 align-items-center">
    <div class="title text-center text-light h4 mb-0 mx-1 text-capitalize">
      <div class=""><%= training.name %></div>
      <div class="mb-3">
        <a href="/trainer/<%= training.trainer.id %>">
          <p class="text-secondary"><%= training.trainer.name %></p>
        </a>
      </div>
      <a href="/user/training/<%= training.id %>?_method=DELETE" class="btn-lg btn-danger w-100">Quit The Training</a>
    </div>

  </div>
</div>